doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title AwsSum &ndash; Node.js library to talk to lots of Web APIs.
    link(rel="stylesheet",href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css")
    link(rel="stylesheet",href="/s/css/style.css")
    script.
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-17218498-4']); _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:'===document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body

    #layout.pure-g-r.content
      #nav.pure-u-1-4
        .nav-inner
          a.pure-button.primary-button(href="/") AwsSum

          .pure-menu.pure-menu-open
            ul
              li
                a(href="/") AwsSum
                  |  
                  span.version v#{awssum.package.version}
              li
                a(href="/amazon") &bull; Amazon 
                  |  
                  span.version v#{providers['/amazon'].package.version}
              each service, path in services
                li
                  a(href="/#{service.provider}/#{service.service}") &bull; &bull; #{service.title}
                    |  
                    span.version v#{service.package.version}

              li.pure-menu-heading General
              li
                a(href="#")
                  span.label-personal Personal
              li
                a(href="#")
                  span.label-work Work
              li
                a(href="#")
                  span.label-travel Travel


      #main.pure-u-3-4
        block page
