extends layout.jade

block page
  .content
    .content-header.pure-g
      .pure-u-1-2
        h1.content-title= service.name
        p.content-subtitle
          span v#{service.package.version}
          | , 
          a(href="http://npm.im/#{service.name}") npm</a>
          | , 
          a(href="https://github.com/awssum/#{service.name}") github
          | .

      .pure-u-1-2.content-controls
        for item in service.submenu
          a.pure-button.secondary-button(href="#{item.href}")= item.title

    .content-body
      h2 #{service.provider}: #{service.service}

      h3 Installing

      pre.
        $ npm install #{service.name}

      p.
        Note: Since this package <code>peerDepends</code> on both <code>awssum-#{service.provider.toLowerCase()}</code>
        and <code>awssum</code>, there is no need for you to depend on these in your <code>package.json</code>.

      hr

      h3 Operations

      for op in Object.keys(service.operation).sort()
        h4 #{op} 
          small
            a(href=service.operation[op].url,target="_new") Open docs on AWS

        h5 Params
        table.pure-table.pure-table-striped(style="width: 100%;")
          thead
            tr
              th(style="width: 20%;") Param Name
              th(style="width: 10%;") Required
              th(style="width: 20%;") Type
              th(style="width: 50%;") Notes
          tbody
            for paramName in Object.keys(service.operation[op].args)
              data = service.operation[op].args[paramName]
              tr
                td= paramName
                td= data.required
                td= data.type
                td= data.notes

      block service
